# macOSX
.DS_Store

# Gradle
.gradle
build/

# IntelliJ IDEA
.idea

# assciidoctor downloads some resources from the Internet. Those files are large, so that they should be gitignored
src/docs/asciidoc/@font/

# temporary files
tmp/